.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.layout > *:last-child {
  margin-top: auto;
}

@media only screen and (max-width: 991.98px) {
  .layout {
    margin-top: 90px;
  }
}

@media only screen and (max-width: 575.98px) {
  .layout {
    margin-top: 80px;
  }
}
