.card {
  text-align: center;
}

.content {
  padding: 0 10px;
  text-align: left;
}

.title {
  margin: 10px 0;
}

.description {
  margin: 10px 0;
}

.price {
  font-size: 24px;
  font-weight: 700;
  color: var(--color-primary);
  margin: 10px 0 50px;
}

@media only screen and (max-width: 991.98px) {
  .content {
    text-align: center;
  }

  .image {
    margin: 0 auto;
  }
}
