.footer {
  background-color: var(--color-dark);
  padding: 50px 0;
}

.social {
  display: flex;
  align-items: center;
  margin: 0 -15px;
}

.social > li {
  margin: 0 15px;
}

.social-icon {
  width: 24px;
  fill: #fff;
  transition: fill 0.2s;
}

.social-icon:hover {
  fill: var(--color-secondary);
}

@media only screen and (max-width: 575.98px) {
  .footer {
    padding: 25px 0;
  }

  .social {
    margin-bottom: 20px;
  }
}
